.navbarContainer {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #DCD6C7;
    display: flex;
    align-items: center;
    background-color: #F5F3EC;
}

.logoContainer {
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.logoContainer p {
    font-size: 24px;
    font-weight: 900;
    color: #111827;
}

.rightContainer {
    margin-left: auto;
    display: flex;
    padding: 0 16px;
    gap: 18px;
    align-items: center;
}

.rightContainer button {
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: transform 0.1s ease, background-color 0.3s ease;
}

.rightContainer .signup {
    background-color: #6B8F71;
    color: #FFFFFF;
}

.rightContainer .login {
    background-color: #F5F3EC;
    color: #2E332B;
}

.rightContainer .signup:hover {
    background-color: #55715a;
}

.rightContainer .login:hover {
    background-color: #ebe9e2;
}

.rightContainer button:active {
    transform: scale(0.925);
}

.rightContainer .logout {
    background-color: #6B8F71;
    color: #FFFFFF;
}

.rightContainer .logout:hover {
    background-color: #55715a;
}

.rightContainer .userFullname {
    color: #392D2E;
    font-weight: 500;
    font-size: 18px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.rightContainer .divider {
    height: 28px;
    border: 0.2px solid #DCD6C7;
}