.tabContainer {
    display: flex;
    align-items: center;
    gap: 16px;
    
    padding: 16px 24px;
}

.tabContainer button {
    padding: 8px 20px;
    border: 1px solid #DCD6C7;
    font-size: 14px;
    background-color: #F5F3EC;
    color: #2E332B;
    border-radius: 8px;
    cursor: pointer;

    transition: transform 0.1s ease, background-color 0.2s ease;
}

.tabContainer button:hover {
    background-color: #2E332B;
    color: #FFFFFF;
}

.tabContainer button:active {
    transform: scale(0.95);
}

.tabContainer button.active {
    background-color: #2E332B;
    color: #FFFFFF;
}

.tabContainer .addButton {
    background-color: #6B8F71;
    color: #FFFFFF;
    border: none;
}

.tabContainer .addButton:hover {
    background-color: #55715a;
}