.tabContainer {
    display: flex;
    align-items: center;
    gap: 16px;
    
    padding: 16px 24px;
}

.tabContainer button {
    padding: 8px 20px;
    border: none;
    font-size: 14px;
    background-color: #EDE1DE;
    border-radius: 8px;
    cursor: pointer;

    transition: transform 0.1s ease, background-color 0.2s ease;
}

.tabContainer button:hover {
    background-color: #865346;
    color: #FFFFFF;
}

.tabContainer button:active {
    transform: scale(0.95);
}

.tabContainer button.active {
    background-color: #865346;
    color: #FFFFFF;
}